:root {
  --bg-color-dark: #485563;
  --gradient-start-dark: #29323c;
  --gradient-end-dark: #485563;
  --text-color-dark: #fff;

  --bg-color-light: #f5f5f5;
  --gradient-start-light: #ffffff;
  --gradient-end-light: #e0e0e0;
  --text-color-light: #333;

  --primary-color: #00bcd4;
  --secondary-color: #1a1a1a;
  --tertiary-color: #2a2a2a;
  --text-color: #fff;
  --hover-color: #3a3a3a;
  --error-color: #ff5252;
  --warning-color: #ff4d4d;
  --success-color: #4caf50;
  --shadow-color: rgba(0, 0, 0, 0.3);
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
  text-decoration: none;
}

/* Modo oscuro (por defecto) */
body {
  background: linear-gradient(to bottom, var(--gradient-start-dark), var(--gradient-end-dark));
  color: var(--text-color-dark);
  transition: background-color 0.3s ease, color 0.3s ease;
  line-height: 1.6;
  font-size: 16px;
}

/* Modo claro */
[data-theme="light"] body {
  background: linear-gradient(to bottom, var(--gradient-start-light), var(--gradient-end-light));
  color: var(--text-color-light);
}

